# Python
__pycache__/
*.pyc

# Dataset
dataset/kh_data_10000b/

# Outputs
segmentation_results.txt
benchmark_results.txt
unknown_words_from_results.txt

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db

experiments/
temp/

# Zig Build System
port/c/zig-out/
port/c/.zig-cache

# C/C++ Build Artifacts
*.o
*.obj
*.lib
*.dll
*.dylib
*.so
*.a

# Windows Executables and Debug Symbols
*.exe
*.pdb
*.idb
*.ilk

